# Python
__pycache__/
*.py[cod]
*.so
.env
venv/
*.egg-info/
dist/
build/
backend/db.sqlite3
backend/media/
backend/static/

# Node
node_modules/
frontend/dist/
frontend/.env

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
